<%= form_for(@historical_job) do |f| %>

  <% if @historical_job.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@historical_job.errors.count, "error") %> prohibited this application from being saved:</h2>

    <ul>
      <% @historical_job.errors.full_messages.each do |msg| %> 
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :script_type %> <br />
    <%= f.select(:application_type_id,
                 Naf::ApplicationType.all.collect{ |type| [type.script_type_name, type.id] },
                 { include_blank: true }) %>
  </div>

  <div class="field">
    <%= f.label :command %> <br />
    <%= f.text_field :command %>
  </div>

  <div class="field">
    <%= f.label :application_run_group_restriction %></br />
    <%= f.select(:application_run_group_restriction_id,
                 Naf::ApplicationRunGroupRestriction.all.map{ |a| [a.application_run_group_restriction_name, a.id] },
                 { include_blank: true } )%>
  </div>

  <div class="field">
    <%= f.label :run_group %><br />
    <%= f.text_field :application_run_group_name %>
  </div>

  <div class="field">
    <%= f.label :log_level %> <br />
    <%= f.text_field :log_level %>
  </div>

  <div class="field">
    <%= f.label :application_run_group_limit %>  <br />
    <%= f.text_field :application_run_group_limit %>
  </div>

  <div class="field">
    <%= f.label :request_to_terminate %> <br />
    <%= f.check_box :request_to_terminate %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
