<% content_for :body do %>
  <%= render partial: 'naf/shared/information_container', locals: { record_name: "Jobs" } %>
  <%= render partial: 'search_container' %>
  <%= render partial: 'naf/shared/select_per_page' %>

  <div id="flash_message">
      <% unless notice.blank? %>
        <script type='text/javascript'>
          jQuery("<p id='notice'><%= notice %></p>")
              .appendTo('#flash_message')
              .slideDown().delay(5000).slideUp();
        </script>
      <% end %>
  </div>

  <table id='datatable'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Server</th>
        <th>Pid</th>
        <th>Queued Time</th>
        <th>Title</th>
        <th>Started At</th>
        <th>Finished At</th>
        <th>Run Time</th>
        <th>Affinities</th>
        <th>Tags</th>
        <th>Status</th>
        <th></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>

  <% content_for :javascripts do %>
    <%= javascript_include_tag("dataTablesTemplates/jobs.js") %>
    <script type='text/javascript'>
      var sAjaxSource = "<%= naf.historical_jobs_path(:json) %>";
    </script>
  <% end %>
<% end %>

<%= render partial: 'naf/shared/application' %>