<% content_for :body do %>
    <%= render :partial => 'naf/shared/information_container', :locals => { :record_name => table_title } %>
    <br>
    <table id='datatable'>
      <thead>
        <tr>
          <th style='padding-right:5px;'>Affinity Name</th>
          <th style='padding-right:5px;'>Affinity Classification Name</th>
          <th style='padding-right:5px;'>Selectable</th>
        </tr>
      </thead>
      <tbody>
        <% @affinities.each do |affinity| %>
          <tr>
            <td><%= link_to affinity.affinity_name, affinity_path(affinity.id) %></td>
            <td><%= affinity.affinity_classification.affinity_classification_name %></td>
            <td><%= affinity.selectable %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% content_for :javascripts do %>
      <script type='text/javascript'>
        jQuery(document).ready(function() {
          jQuery('#datatable').addDataTable({});
        });
      </script>
    <% end %>

<% end %>

<%= render :partial => 'naf/shared/application' %>
