<% content_for :body do %>
    <%= render :partial => 'naf/shared/information_container', :locals => { :record_name => table_title } %>
    <br>
    <table id='datatable'>
      <thead>
        <tr>
          <th style='padding-right:5px;'>Id</th>
          <th style='padding-right:5px;'>Title</th>
          <th style='padding-right:5px;'>Script Type Name</th>
          <th style='padding-right:5px;'>Command</th>
          <th style='padding-right:5px;'>Affinity Name</th>
          <th style='padding-right:5px;'>Affinity Classification Name</th>
        </tr>
      </thead>
      <tbody>
        <% @tabs.each do |tab| %>
          <tr>
            <td><%= link_to tab.id, job_job_affinity_tab_path(tab.job_id, tab.id) %></td>
            <td><%= tab.title %></td>
            <td><%= tab.script_type_name %></td>
            <td><%= tab.command %></td>
            <td><%= tab.affinity_name %></td>
            <td><%= tab.affinity_classification_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% content_for :javascripts do %>
      <script type='text/javascript'>
        jQuery(document).ready(function() {
          jQuery('#datatable').addDataTable({});
        });
      </script>
    <% end %>

<% end %>

<%= render :partial => 'naf/shared/application' %>
