<div class="field">
  <%= f.hidden_field :_destroy %>
</div>

<h3 class="display-inline-block">Schedule | </h3>
<%= link_to "Remove", "#" , id: "remove_application_schedule", class: "display-inline-block"%>

<%= f.hidden_field :application_id %>

<div class="field">
  <%= f.label :application_run_group_restriction_id, "Application run group restriction*" %>
  <%= f.select(:application_run_group_restriction_id,
               ::Naf::ApplicationRunGroupRestriction.all.map { |a| [a.application_run_group_restriction_name, a.id] },
               include_blank: true) %>
</div>
</br/>

<div class="field">
  <%= f.label :application_run_group_name %>
  <%= select_tag(:run_group_name_type, options_for_select([["custom", "custom"],
                                                           ["command", "command"],
                                                           ["not set", "not set"]],
                                                           @run_group_name_type)) %><br/>
  <%= f.text_area :application_run_group_name, rows: 4, cols: 32, placeholder: "Please input Application Run Group Name" %>
</div>
</br/>

<div class="field">
  <%= f.label :run_interval, "Run Interval (minutes)" %>
  <%= f.text_field :run_interval %>
</div>
</br/>

<div class="field">
  <%= f.label :priority %>
  <%= f.text_field :priority %>
</div>
</br/>

<div class="field">
  <%= f.label :application_run_group_limit %>
  <%= f.text_field :application_run_group_limit %>
</div>
</br/>

<div class="field">
  <%= f.label :enabled %>
  <%= f.check_box :enabled %>
</div>
</br/>

<div class="field">
  <%= f.label :visible %>
  <%= f.check_box :visible %>
</div>
<br/>

<div class="field">
  <%= f.label :enqueue_backlogs %>
  <%= f.check_box :enqueue_backlogs %>
</div>
<br/>

<% if @show_prerequisite %>
  <%= f.fields_for :application_schedule_prerequisites do |builder| %>
    <%= render "application_schedule_prerequisites", f: builder %>
  <% end %>
<% else %>
  <% f.fields_for :application_schedule_prerequisites do |builder| %>
    <%= render "application_schedule_prerequisites", f: builder %>
  <% end %>
<% end %>

<%= naf_link_to_add_fields "Add Schedule Prerequisite", f, :application_schedule_prerequisites %>
