<%= nested_form_for @application do |f| %>

    <% if @application.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

          <ul>
            <% @application.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :short_name %>
      <%= f.text_field :short_name %>
    </div>

    <div class="field">
      <%= f.label :command %>
      <%= f.text_field :command %>
    </div>

    <div class="field">
      <%= f.label :application_type %>
      <%= f.select(:application_type_id, ::Naf::ApplicationType.all.map { |a| [a.script_type_name, a.id] }, { :include_blank => true }) %>
    </div>

    <div class="field">
      <%= f.label :log_level %>
      <%= f.text_field :log_level %>
    </div>
    <br/>

    <div class="field">
      <%= f.label :deleted %>
      <%= f.check_box :deleted %>
    </div>
    <br/>

    <%= f.fields_for :application_schedule do |schedule_fields| %>
        <h3>Schedule</h3>

        <div class="field">
          <%= schedule_fields.label :_destroy, "Remove Schedule" %>
          <%= schedule_fields.check_box :_destroy %>
        </div>
        <br/>
        <br/>

        <%= schedule_fields.hidden_field :application_id %>

        <div class="field">
          <%= schedule_fields.label :run_group_restriction %>
          <%= schedule_fields.select(:application_run_group_restriction_id,
                ::Naf::ApplicationRunGroupRestriction.all.map { |a| [a.application_run_group_restriction_name, a.id] },
                :include_blank => true) %>
        </div>

        <div class="field">
          <%= schedule_fields.label :run_group_name %>
          <%= schedule_fields.text_field :application_run_group_name %>
        </div>

        <div class="field">
          <%= schedule_fields.label "Run Start Time" %>
          <%= schedule_fields.text_field :run_start_minute %>
        </div>

        <div class="field">
          <%= schedule_fields.label "Run Interval (minutes)" %>
          <%= schedule_fields.text_field :run_interval %>
        </div>

        <div class="field">
          <%= schedule_fields.label :priority %>
          <%= schedule_fields.text_field :priority %>
        </div>

        <div class="field">
          <%= schedule_fields.label :application_run_group_limit %>
          <%= schedule_fields.text_field :application_run_group_limit %>
        </div>

        <div class="field">
          <%= schedule_fields.label :enabled %>
          <%= schedule_fields.check_box :enabled %>
        </div>

        <div class="field">
          <%= schedule_fields.label :visible %>
          <%= schedule_fields.check_box :visible %>
        </div>
        <br/>

        <%= schedule_fields.fields_for :application_schedule_prerequisites do |app_sch_pre| %>
            <h3>Application Schedule Prerequisite</h3>

            <div class="field">
              <%= app_sch_pre.label :_destroy, "Remove Prerequisite" %>
              <%= app_sch_pre.check_box :_destroy %>
            </div>
            </br>
            </br>

            <%= app_sch_pre.hidden_field :application_schedule_id %>

            <div class="field">
              <%= app_sch_pre.label :prerequisite_application_schedule %>
              <br/>
              <% schedules = ::Naf::ApplicationSchedule.all.map { |a| [a.title, a.id] unless a.id == @application.application_schedule.id }.compact %>
              <%= app_sch_pre.select(:prerequisite_application_schedule_id, schedules, :include_blank => true) %>
            </div>
            <br/>
        <% end %>

        <%= schedule_fields.link_to_add "Add prerequisite", :application_schedule_prerequisites %>

    <% end %>

    <br/>
    <br/>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
