<%= nested_form_for @application do |f| %>

    <% if @application.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title, "Title*" %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :short_name %>
      <%= f.text_field :short_name %>
    </div>

    <div class="field">
      <%= f.label :command, "Command*" %>
      <%= f.text_area :command, :rows => 4, :cols => 60 %>
    </div>

    <div class="field">
      <%= f.label :application_type_id, "Application type*" %>
      <%= f.select(:application_type_id,
                   ::Naf::ApplicationType.all.map { |a| [a.script_type_name, a.id] },
                   { include_blank: true }) %>
    </div>

    <div class="field">
      <%= f.label :log_level %>
      <%= f.text_field :log_level %>
    </div>
    <br/>

    <div class="field">
      <%= f.label :deleted %>
      <%= f.check_box :deleted %>
      <br/><br/>
    </div>
    <br/>

    <%= f.fields_for :application_schedule do |schedule_fields| %>
        <h3>Schedule</h3>

        <div class="field">
          <%= schedule_fields.label :_destroy, "Remove Schedule" %>
          <%= schedule_fields.check_box :_destroy %>
        </div>
        <br/>
        <br/>

        <%= schedule_fields.hidden_field :application_id %>

        <div class="field">
          <%= schedule_fields.label 'Run group restriction*' %>
          <%= schedule_fields.select(:application_run_group_restriction_id,
                                     ::Naf::ApplicationRunGroupRestriction.all.map { |a| [a.application_run_group_restriction_name, a.id] },
                                     include_blank: true) %>
        </div>

        <div class="field">
          <%= schedule_fields.text_field :application_run_group_name %>
        </div>
        <div class="field">
          <%= schedule_fields.label :run_group_name %>
          <%= schedule_fields.text_field :application_run_group_name %>
        </div>

        <div class="field">
          <%= schedule_fields.label "Run Start Time" %>
          <%= schedule_fields.text_field :run_start_minute %>
        </div>

        <div class="field">
          <%= schedule_fields.label :run_group_name %>
          <%= schedule_fields.text_field :application_run_group_name %>
        </div>

        <div class="field">
          <%= schedule_fields.label "Run Interval (minutes)" %>
          <%= schedule_fields.text_field :run_interval %>
        </div>

        <div class="field">
          <%= schedule_fields.label :priority %>
          <%= schedule_fields.text_field :priority %>
        </div>

        <div class="field">
          <%= schedule_fields.label :application_run_group_limit %>
          <%= schedule_fields.text_field :application_run_group_limit %>
        </div>

        <div class="field">
          <%= schedule_fields.label :enabled %>
          <%= schedule_fields.check_box :enabled %>
        </div>

        <div class="field">
          <%= schedule_fields.label :visible %>
          <%= schedule_fields.check_box :visible %>
        </div>
        <br/>

        <%= schedule_fields.fields_for :application_schedule_prerequisites do |app_sch_pre| %>
            <h3>Application Schedule Prerequisite</h3>

            <div class="field">
              <%= app_sch_pre.label :_destroy, "Remove Prerequisite" %>
              <%= app_sch_pre.check_box :_destroy %>
            </div>
            </br>
            </br>

            <%= app_sch_pre.hidden_field :application_schedule_id %>

            <div class="field">
              <%= app_sch_pre.label 'Application Schedule*' %>
              <% schedules = ::Naf::ApplicationSchedule.all.map { |a| [a.title, a.id] unless a.id == @application.application_schedule.id }.compact %>
              <%= app_sch_pre.select(:prerequisite_application_schedule_id, schedules, include_blank: true) %>
            </div>
            <br/>
        <% end %>

        <%= schedule_fields.link_to_add 'Add Prerequisite', :application_schedule_prerequisites %>
    <% end %>
    <br/>
    <br/>

    <div class="actions">
      <br/>
      <%= f.submit %>
    </div>
<% end %>

<% content_for :javascripts do %>
    <script type='text/javascript'>
        jQuery(document).ready(function() {

            <% if @show_app_schedule %>
               addSchedule();
            <% else %>
               removeSchedule();
            <% end %>

            var run_group = jQuery("#application_application_schedule_attributes_application_run_group_name");

            if(jQuery("#run_group_name_type").val() != 'custom') {
                run_group.hide();
                run_group.val(null);
            }

            jQuery("#run_group_name_type").change(function () {
                var type = jQuery("#run_group_name_type").val();
                if(type == 'command') {
                    run_group.hide();
                    run_group.val(null);
                } else if(type == 'not set') {
                    run_group.hide();
                    run_group.val(null);
                } else {
                    run_group.slideToggle("slow");
                }
            });

            jQuery("#add_application_schedule").click(function() {
                addSchedule();
            });

            jQuery("#remove_application_schedule").click(function() {
                removeSchedule();
            });

        });

        function addSchedule(){
            jQuery("#application_schedule").css("display", "block");
            jQuery("#application_application_schedule_attributes__destroy").val("0");
            jQuery("#add_application_schedule").hide();
        }

        function removeSchedule(){
            jQuery("#application_schedule").hide();
            jQuery("#application_application_schedule_attributes__destroy").val("1");
            jQuery("#add_application_schedule").css("display", "block");
        }
    </script>
<% end %>
