<%= form_for(@application) do |f| %>
  
  <% if @application.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>
    
    <ul>
      <% @application.errors.full_messages.each do |msg| %> 
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :command %><br />
    <%= f.text_field :command %>
  </div>

  <div class="field">
    <%= f.label :application_type %></br />
    <%= f.select(:application_type_id, ::Naf::ApplicationType.all.map{ |a| [a.script_type_name, a.id]} )%>
  </div>

  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
