<% content_for :body do %>
    <%= render :partial => 'naf/shared/information_container', :locals => { :record_name => table_title } %>
    <%= render :partial => 'naf/shared/select_per_page' %>

    <table id='datatable'>
      <thead>
        <tr>
          <th style='padding-right:5px;'>Id</th>
          <th style='padding-right:5px;'>Title</th>
          <th style='padding-right:5px;'>Script Type Name</th>
          <th style='padding-right:5px;'>Application Run Group Name</th>
          <th style='padding-right:5px;'>Application Run Group Restriction Name</th>
          <th style='padding-right:5px;'>Run Start Minute</th>
          <th style='padding-right:5px;'>Run Interval</th>
          <th style='padding-right:5px;'>Deleted</th>
          <th style='padding-right:5px;'>Last Queued At </th>
          <th style='padding-right:5px;'>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>

    <% content_for :javascripts do %>
      <%= javascript_include_tag("dataTablesTemplates/applications.js") %>
      <script type='text/javascript'>

        var sAjaxSource = "<%= naf.applications_path(:json) %>";
        var postSource = "<%= naf.jobs_path(:json) %>";

      </script>
    <% end %>

<% end %>

<%= render :partial => 'naf/shared/application' %>
