<% content_for :body do %>
  <div id="flash_message">
      <% unless notice.blank? %>
        <script type='text/javascript'>
          jQuery("<p id='notice'><%= notice %></p>")
              .appendTo('#flash_message')
              .slideDown().delay(5000).slideUp();
        </script>
      <% end %>
  </div>

  <% content_for :javascripts do %>
    <script type='text/javascript'>
        jQuery(document).ready(function () {
            jQuery(document).delegate('.enqueue', "click", function(){
                var postSource = "<%= naf.historical_jobs_path %>";
                var answer = confirm("Adding application as a job on the queue?");
                if (!answer) {
                    return false;
                }
                jQuery.post(postSource, { "historical_job[application_id]":jQuery(this).attr('id') }, function (data) {
                    if (data.success) {
                        jQuery("<p id='notice'>Congratulations, a Job " + data.title + " was added!</p>").
                        appendTo('#flash_message').slideDown().delay(5000).slideUp();
                        setTimeout('window.location.reload()', 5600);
                    }
                });
            });
        });
    </script>
  <% end %>

  <div id="record">
    <h2>Application</h2>
    <%= link_to 'Back to Applications', applications_path %>
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <%= link_to 'Edit', edit_application_path(@application) %>
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <%= link_to "Add Affinity", new_application_application_schedule_application_schedule_affinity_tab_path(@application, @application.application_schedule) %>
    </br>
    </br>

    <table id="naf_table_show">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ID</td>
          <td><%= @application.id %></td>
        </tr>
        <tr>
          <td>Created At</td>
          <td><%= @application.created_at %></td>
        </tr>
        <tr>
          <td>Updated At</td>
          <td><%= @application.updated_at %></td>
        </tr>
        <tr>
          <td>Deleted</td>
          <td><%= @application.deleted %></td>
        </tr>
        <tr>
          <td>Application Type</td>
          <td><%= @application.application_type.script_type_name %></td>
        </tr>
        <tr>
          <td>Command</td>
          <td><%= @application.command %></td>
        </tr>
        <tr>
          <td>Title</td>
          <td><%= @application.title %></td>
        </tr>
        <tr>
          <td>Short Name</td>
          <td><%= @application.short_name %></td>
        </tr>
        <tr>
          <td>Log Level</td>
          <td><%= @application.log_level %></td>
        </tr>
        <tr>
          <td>Script Type Name</td>
          <td><%= @logical_application.script_type_name %></td>
        </tr>
        <tr>
          <td>Application Run Group Name</td>
          <td><%= @logical_application.application_run_group_name %></td>
        </tr>
        <tr>
          <td>Application Run Group Limit</td>
          <td><%= @application.application_schedule.application_run_group_limit %></td>
        </tr>
        <tr>
          <td>Application Run Group Restriction Name</td>
          <td><%= @logical_application.application_run_group_restriction_name %></td>
        </tr>
        <tr>
          <td>Run Interval</td>
          <td><%= @logical_application.run_interval %></td>
        </tr>
        <tr>
          <td>Run Start Minute</td>
          <td><%= @logical_application.run_start_minute %></td>
        </tr>
        <tr>
          <td>Priority</td>
          <td><%= @logical_application.priority %></td>
        </tr>
        <tr>
          <td>Visible</td>
          <td><%= @logical_application.visible %></td>
        </tr>
        <tr>
          <td>Enabled</td>
          <td><%= @logical_application.enabled %></td>
        </tr>
        <tr>
          <td><%= link_to "Application Schedule Affinity Tabs",
                  application_application_schedule_application_schedule_affinity_tabs_path(@application, @application.application_schedule) %>
          </td>
          <td><%= @application.application_schedule.affinities.map(&:affinity_name).join(', ') %></td>
        </tr>
        <tr>
          <td>Add Script to Jobs Queue</td>
          <td>
            <%= link_to image_tag('control_play_blue.png',
                  class: 'action',
                  title: "Enqueue application(id: #{@application.id}, title: #{@application.title})"),
                  "#", { class: "enqueue", id: @application.id } %>
          </td>
        </tr>
      </tbody>
    </table>
    </br>

    <h2>Last Queued Job</h2>
    <table id="naf_table_show">
      <thead>
        <tr>
          <th>ID</th>
          <th>Last Queued At</th>
          <th>Command</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if job = @application.last_queued_job -%>
          <tr>
            <td><%= link_to job.id, historical_job_path(job) %></td>
            <td><%= "#{time_ago_in_words(job.created_at, true)} ago" %></td>
            <td><%= job.command %></td>
            <td><%= ::Logical::Naf::Job.new(job).status %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
    </br>

    <h2>Prerequisites</h2>
    <table id="naf_table_show">
      <thead>
        <tr>
          <th>ID</th>
          <th>Command</th>
        </tr>
      </thead>
      <tbody>
        <% @application.application_schedule.application_schedule_prerequisites.each do |prereq| -%>
        <tr>
          <td><%= link_to prereq.prerequisite_application_schedule.id, application_path(prereq.prerequisite_application_schedule.application) %></td>
          <td><%= prereq.prerequisite_application_schedule.application.command %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
    </br>

  </div>
<% end %>

<%= render partial: 'naf/shared/application' %>
