<%= form_for([@application, @application_schedule]) do |f| %>
  
  <% if @application_schedule.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@application_schedule.errors.count, "error") %> prohibited this application schedule from being saved:</h2>
    
    <ul>
      <% @application_schedule.errors.full_messages.each do |msg| %> 
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
 
  <%= hidden_field(:application_schedule, :application_id, :value => @application.id) %>
  
  <div class="field">
    <%= f.label :run_group_restriction %><br />
    <%= f.select(:application_run_group_restriction_id, ::Naf::ApplicationRunGroupRestriction.all.map{ |a| [a.application_run_group_restriction_name, a.id] }, :include_blank => true) %>
  </div>

   <div class="field">
    <%= f.label :run_group_name %></br />
    <%= f.text_field :application_run_group_name %>
  </div>

  <div class="field">
    <%= f.label "Run Interval (minutes)" %></br />
    <%= f.text_field :run_interval %>
  </div>

  <div class="field">
    <%= f.label :priority %>  <br />
    <%= f.text_field :priority %>
  </div>

  <div class="field">
    <%= f.label :enabled %>  <br />
    <%= f.check_box :enabled %>
  </div>

  <div class="field">
    <%= f.label :visible %>  <br />
    <%= f.check_box :visible %>
  </div>
    


  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
