<% content_for :body do %>
  <div id='page-label'>
    <h3 id="record_name">Application Schedules</h3>
  </div>
  <%= render partial: 'naf/shared/select_per_page' %>
  </br></br>

  <div id="flash_message">
    <% unless notice.blank? %>
      <script type='text/javascript'>
        jQuery("<p id='notice'><%= notice %></p>")
            .appendTo('#flash_message')
            .slideDown().delay(5000).slideUp();
      </script>
    <% end %>
  </div>

  <table id='datatable'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Application</th>
        <th>Run Group Name</th>
        <th>Run Group Restriction</th>
        <th>Run Interval Style</th>
        <th>Run Interval</th>
        <th>Run Group Quantum</th>
        <th>Run Group Limit</th>
        <th>Enqueue</th>
        <th>Affinities</th>
        <th>Prerequisites</th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>

  <% content_for :javascripts do %>
    <%= javascript_include_tag("dataTablesTemplates/application_schedules.js") %>
    <script type='text/javascript'>
      var sAjaxSource = "<%= naf.application_schedules_path(:json) %>";
    </script>
  <% end %>
<% end %>

<%= render partial: 'naf/shared/application' %>
