<% content_for :body do %>
    <%= render :partial => 'naf/shared/information_container', :locals => { :record_name => table_title } %>
    <br>
    <table id='datatable'>
      <thead>
        <tr>
          <th style='padding-right:5px;'>Id</th>
          <th style='padding-right:5px;'>Title</th>
          <th style='padding-right:5px;'>Application Run Group Name</th>
          <th style='padding-right:5px;'>Application Run Group Restriction Name</th>
          <th style='padding-right:5px;'>Run Interval</th>
          <th style='padding-right:5px;'>Priority</th>
          <th style='padding-right:5px;'>Enabled</th>
          <th style='padding-right:5px;'>Visible</th>
        </tr>
      </thead>
      <tbody>
        <% @application_schedules.each do |application_schedule| %>
          <tr>
            <td><%= link_to application_schedule.id, application_application_schedule_path(application_schedule.application_id, application_schedule.id) %></td>
            <td><%= application_schedule.title %></td>
            <td><%= application_schedule.application_run_group_name %></td>
            <td><%= application_schedule.application_run_group_restriction_name %></td>
            <td><%= application_schedule.run_interval %></td>
            <td><%= application_schedule.priority %></td>
            <td><%= application_schedule.enabled %></td>
            <td><%= application_schedule.visible %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% content_for :javascripts do %>
      <script type='text/javascript'>
        jQuery(document).ready(function() {
          jQuery('#datatable').addDataTable({});
        });
      </script>
    <% end %>

<% end %>

<%= render :partial => 'naf/shared/application' %>
