<% content_for :body do %>
    <%= render :partial => 'naf/shared/information_container', :locals => { :record_name => table_title } %>
    <%= render :partial => 'naf/shared/search_container' %>
    <%= render :partial => 'naf/shared/select_per_page' %>
    <table id='datatable'>
      <thead>
        <tr>
          <th style='padding-right:5px;'>Id</th>
          <th style='padding-right:5px;'>Server</th>
          <th style='padding-right:5px;'>Pid</th>
          <th style='padding-right:5px;'>Queued Time</th>
          <th style='padding-right:5px;'>Title</th>
          <th style='padding-right:5px;'>Started At</th>
          <th style='padding-right:5px;'>Finished At</th>
          <th style='padding-right:5px;'>Status</th>
          <th></th>
          <th style='padding-right:5px;'>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>

    <% content_for :javascripts do %>
      <%= javascript_include_tag("dataTablesTemplates/jobs.js") %>
      <script type='text/javascript'>

        var sAjaxSource = "<%= naf.jobs_path(:json) %>";

      </script>
    <% end %>

<% end %>

<%= render :partial => 'naf/shared/application' %>
