<!DOCTYPE html>
<html>
<head>
  <title>Naf - a Rails Job Scheduling Engine</title>
  <%= stylesheet_link_tag "naf", :media => "all" %>
  <%= javascript_include_tag "naf" %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>