<%= form_for([@application, @application_schedule, @tab]) do |f| %>

  <% if @tab.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@tab.errors.count, "error") %> prohibited this application schedule affinity tab from being saved:</h2>
  </div>
  <% end %>

  <%= f.hidden_field :application_schedule_id, value: @application_schedule.id %>

  <div class="field">
    <%= f.label :affinity_id, "Affinity*" %></br>
    <%= f.select(:affinity_id,
                 ::Naf::Affinity.selectable.map{
                    |a| [a.affinity_classification.affinity_classification_name + ', ' + a.affinity_name, a.id]
                 },
                 include_blank: true) %>
  </div>
  </br>

  <div class="field">
    <%= f.label :affinity_parameter %></br>
    <%= f.text_field :affinity_parameter %>
  </div>
  </br>

  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
