<%= form_for(@tab) do |f| %>
  
  <% if @tab.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@tab.errors.count, "error") %> prohibited this application schedule affinity tab from being saved:</h2>
    
    <ul>
      <% @tab.errors.full_messages.each do |msg| %> 
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :script_title %><br />
    <%= f.select(:application_schedule_id, ::Naf::ApplicationSchedule.all.map{ |a| [a.title, a.id]}, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :affinity %><br />
    <%= f.select(:affinity_id, ::Naf::Affinity.selectable.map{ |a| [a.affinity_name, a.id] }, :include_blank => true) %>
  </div>    


  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
