<h3 id="record_name"><%= table_title %> </h3>

<div>
  <a href="#" id="page_back" style="float:left;display:none;">
    <%= image_tag('back.png') %>
  </a>
  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <a href="#" id="page_forward" style="float:right;display:none;">
    <%= image_tag('forward.png') %>
  </a>
  <p class="clear"></p>
</div>

<table id="datatable" cellspacing="0">

  <thead>
    <tr>
      
      <% if @cols.size == 1 %>
        <th class="<%= @cols.first %>" id="single"><%= make_header(@cols.first) %></th>
      <% else %>
        <% @cols.each do |col| %>
          <th id="<%= col %>"><%= make_header(col) %></th>
        <% end %>
      <% end %>
      
      <% if include_actions_in_table? %> <th> Actions </th> <% end %>
    </tr>
  </thead>


  <tbody>
    <% @rows.each do |row| %>
      <tr id="<%= row.id %>" data-url="<%= url_for :action => 'show', :id => row.id, :controller => controller_name %>" >
        <% @cols.each do |col| %>
          <td> <%= row.send(col) %> </td>
        <% end %>

        <% if include_actions_in_table? %>
          <td id="action"> 
            <% if current_page?(:controller => 'applications') %> 
              <%= link_to image_tag('control_play_blue.png', :class => 'action', :title => 'Enqueue Now'), "#", {:class => "enqueue", :id => row.id} %>
              <%= generate_schedule_link(row) %>
            <% elsif current_page?(:controller => 'jobs') or current_page?(naf.root_url) %>
               <%= link_to image_tag('application_view_list.png', :class => 'action', :title => 'View Log in Papertrail'), "http://www.papertrailapp.com" %>
            <% end %>
          </td> 
        <% end %>
     </tr>
    <% end %>
  </tbody>

  <tfoot class="nav">
    <tr style="text-align: center">
      <% if include_actions_in_table? %>
        <td colspan=<%= @cols.size + 1 %>>
      <% else %>
        <td colspan=<%= @cols.size %>>
      <% end %>
      <span id="result_numbers"></span>
       </td>
    </tr>
  </tfoot>

</table>



<form id="job_search"  style="display:none; cursor: default" action="<%= url_for(:controller => 'jobs', :action => 'index')%>">
    <%= hidden_field(:search, :offset, :value => 0) %>
    <b> Status: </b>  <%= select(:search, :status, [["All", :all], ["Running", :running], ["Queued", :queued], ["Finished", :finished], ["Failed to Start", :failed_to_start], ["Exited with Error", :error]]) %> </b><br />
    <b> Order By: </b><%= select(:search, :order, [["Queued Time", :created_at], ["Started", :started_at], ["Finished", :finished_at], ["Priority", :priority]]) %> <br />
    <b> Direction: </b> 
       Descending:
        <%= radio_button(:search, :direction, :desc, :checked => true) %>
       Ascending:
        <%= radio_button(:search, :direction, :asc) %> <br />
    <b> Per Page: </b> <%= select(:search, :limit, [10, 25, 50, 100].map{|val| [val.to_s, val] }) %> </b> <br />
    <b> Running: </b> <%= select(:search, :running, [["Ignore", nil], ["True", true], ["False", false]]) %> </b> <br />
    <b> Command: </b> <%= text_field(:search, :command) %><br />
    <b> Script Type: </b> <%= select(:search, :application_type_id, Naf::ApplicationType.all.collect{ |type| [type.script_type_name, type.id]}, {:include_blank => true}) %><br />
    <b> Run Group </b> <%= text_field(:search, :application_run_group_name) %> <br />
    <b> Run Group Restriction </b> <%= select(:search, :application_run_group_restriction_id, Naf::ApplicationRunGroupRestriction.all.collect{ |a| [a.application_run_group_restriction_name, a.id] }, {:include_blank => true}) %> <br />
    <b> Priority </b> <%= text_field(:search, :priority) %><br />
    <b> Failed to Start <%= select(:search, :failed_to_start, [["Ignore", nil], ["True", true], ["False", false]]) %> </b> <br />
    <b> Pid </b> <%= text_field(:search, :pid) %> <br />
    <b> Exit Status <%= text_field(:search, :exit_status)  %></b> <br />
    <b> Request to Terminate </b> <%= select(:search, :request_to_terminate, [["Ignore", nil], ["True", true], ["False", false]]) %> </b> <br />
    <b> Machine: </b> <%= select(:search, :started_on_machine_id, Naf::Machine.all.collect{|m| [m.server_name.blank? ? m.server_address : m.server_name, m.id]}, {:include_blank => true}) %> <br />
    <div style="text-align: right;">
    <input type="reset" id="reset" style="display: none; cursor: default"/>
    <input type="button" value="cancel" id="cancel" />
    <input type="submit" id="add" value="Search" /> 
    </div>
</form>

<form id="add_job" style="display:none; cursor: default" action="<%= url_for(:controller => 'jobs', :action => 'index')%>">
    <b> Script Type: </b> <%= select(:job, :application_type_id, Naf::ApplicationType.all.collect{ |type| [type.script_type_name, type.id]}, {:include_blank => true}) %><br />
    <b> Command: </b> <%= text_field(:job, :command) %><br />
    <b> Run Group Restriction: </b>
    <%= select(:job, :application_run_group_restriction_id, Naf::ApplicationRunGroupRestriction.all.collect{ |a| [a.application_run_group_restriction_name, a.id] }, {:include_blank => true}) %> <br />
    <b> Run Group Name: </b> <%= text_field(:job, :application_run_group_name) %> <br /> <br />
    <input type="button" id="cancel" value="Cancel" />
    <input type="submit" id="add" value="Add" />
</form>

<form id="enqueue_form" style="display:none; cursor: default" action="<%= url_for(:controller => 'jobs', :action => 'index')%>">
    <input type="hidden" name="job[application_id]" id="application_id" value="" />
    <b> Run Group Restriction: </b></br />
    <%= select(:job, :application_run_group_restriction_id, Naf::ApplicationRunGroupRestriction.all.collect{ |a| [a.application_run_group_restriction_name, a.id] }, {:include_blank => true}) %> <br />
    <b> Run Group Name: </b> <br />
    <%= text_field(:job, :application_run_group_name) %> <br /> <br />
    <input type="button" id="cancel" value="Cancel" /> 
    <input type="submit" id="add" value="Add" /> 

</form>

<div id="enqueue_confirm" style="display:none; cursor: default"> 
        <h3>Are you sure you want to add this application to the job queue?</h3> 
        <input type="button" id="yes" value="Yes" /> 
        <input type="button" id="no" value="No" /> 
</div> 

<p id="on_job_page" style="display:none; cursor: default"><%= display_job_search_link? %></p>







