<% content_for :body do %>
  <div id="record">

    <%= render :partial => 'naf/shared/information_container', :locals => { :record_name => model_name } %>

    <%= generate_back_link %>
    <% if !generate_edit_link.blank? && !generate_back_link.blank? %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <% end %>
    <%= generate_edit_link %>

    <div id="flash_message">
        <% unless notice.blank? %>
          <script type='text/javascript'>
            jQuery("<p id='notice'><%= notice %></p>")
                .appendTo('#flash_message')
                .slideDown().delay(5000).slideUp();
          </script>
        <% end %>
    </div>

    <table id="record">

      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>

      <tbody>
      <% @attributes.each do |a| %>
          <tr>
            <td scope="row"><%= make_header(a.to_s) %></td>
            <% if a == :title and controller_name == 'jobs' %>
                <% if application = @record.application %>
                    <td> <%= link_to @record.send(a), url_for(application) %> </td>
                <% else %>
                    <td> <%= @record.send(a) %> </td>
                <% end %>
            <% else %>
                <td> <%= @record.send(a) %></td>
            <% end %>
          </tr>
      <% end %>
      <% if controller_name == 'jobs' %>
          <tr>
            <td colspan="2" style="text-align:center">
              <% if @record.has_started? %>
                  <a href="#" class="papertrail" id="<%= @record.id %>"
                     data-url='<%= papertrail_link(@record) %>'>
                    View Log in Papertrail
              <% end %>
              </a>
            </td>
          </tr>


      <% elsif controller_name == 'applications' %>
        <% content_for :javascripts do %>
          <script type='text/javascript'>
            jQuery(document).ready(function() {
              jQuery('.enqueue').click(function(){
                var postSource = "<%= naf.jobs_path %>";
                var answer = confirm("Adding application as a job on the queue?");
                if (!answer) {
                  return false;
                }
                jQuery.post(postSource, { "job[application_id]": jQuery(this).attr('id') }, function(data) {
                  if (data.success) {
                      jQuery("<p id='notice'>Congratulations, a Job was added!</p>").
                              appendTo('#flash_message').slideDown().delay(5000).slideUp();
                  }
                });
              });
            });
          </script>
        <% end %>
          <tr>
            <td scope="row">Last Queued At</td>
            <td> <%= last_queued_at_link(@record) %> </td>
          </tr>

          <tr>
            <td>Add Script to Jobs Queue</td>
            <td>
              <%= link_to image_tag('control_play_blue.png', :class => 'action', :title => 'Enqueue Now'), "#", {:class => "enqueue", :id => @record.id} %>
            </td>
          </tr>

      <% end %>
      </tbody>
    </table>
    <br/><br/>
    <%= generate_child_resources_link %>
    <% if !generate_destroy_link.blank? && !generate_child_resources_link.blank? %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <% end %>
    <%= generate_destroy_link %>
  </div>

<% end %>

<%= render :partial => 'naf/shared/application' %>
