<% content_for :body do %>
  <div id="record">

    <%= render :partial => 'naf/shared/information_container', :locals => { :record_name => model_name } %>

    <%= generate_back_link %>
    <% if !generate_edit_link.blank? && !generate_back_link.blank? %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <% end %>
    <%= generate_edit_link %>

    <div id="flash_message">
        <% unless notice.blank? %>
          <script type='text/javascript'>
            jQuery("<p id='notice'><%= notice %></p>")
                .appendTo('#flash_message')
                .slideDown().delay(5000).slideUp();
          </script>
        <% end %>
    </div>

    <table id="table_record">

      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>

      <tbody>
      <% @attributes.each do |a| %>
          <tr>
            <td scope="row"><%= make_header(a.to_s) %></td>
            <% if a == :title and controller_name == 'jobs' %>
                <% if application = @record.application %>
                    <td> <%= link_to @record.send(a), url_for(application) %> </td>
                <% else %>
                    <td> <%= @record.send(a) %> </td>
                <% end %>
            <% else %>
                <td> <%= @record.send(a) %></td>
            <% end %>
          </tr>
      <% end %>
      <% if controller_name == 'jobs' %>
          <%= render :partial => 'naf/jobs/show' %>
      <% elsif controller_name == 'applications' %>
          <%= render :partial => 'naf/applications/show' %>
      <% elsif controller_name == 'machines' %>
          <%= render :partial => 'naf/machines/show' %>
      <% end %>
      </tbody>
    </table>
    <br/>
    <%= generate_child_resources_link %>
    <% if !generate_destroy_link.blank? && !generate_child_resources_link.blank? %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <% end %>
    <%= generate_destroy_link %>

    <% if(controller_name == 'jobs' || controller_name == 'machines') %>
        <h4>Stdout</h4>
        <%= submit_tag("Search", :id => 'papertrail_search_submit') %><br><br>
        <div id="stdout" class="scrollable-output">
        </div>
    <% end %>
  </div>

<% end %>

<%= render :partial => 'naf/shared/application' %>
