<div id="record">

<%= generate_back_link %>
<%= generate_edit_link %>

<h3 id="record_name"><%= model_name %> </h3>
<p id="notice"><%= notice %></p>

<table id="record">

 <tr>
   <th>Attribute</th>
   <th>Value </th>
 </tr>

<tbody>
 <% @attributes.each do |a| %>
   <tr>
     <td scope="row"><%= make_header(a.to_s) %></td>
     <% if a == :title and controller_name == 'jobs' %>
       <% if application = @record.application %>
       <td> <%= link_to @record.send(a), url_for(application) %> </td>
       <% else %>
         <td> <%= @record.send(a) %> </td>
       <% end %>
     <% else %>
       <td> <%= @record.send(a) %></td>
     <% end %>
   </tr>
 <% end %>
 <% if controller_name == 'jobs' %>
   <tr>
     <td colspan="2" style="text-align:center">
       <a href="#" class="papertrail" id="<%= @record.id %>" 
          data-url='<%= papertrail_link(@record.command) %>'>
         View Log in Papertrail
       </a>
     </td>
   </tr>
 <% elsif controller_name == 'applications' %>
  <tr>
    <td scope="row">Last Queued At:</td>
     <td> <%= last_queued_at_link(@record) %> </td>
   </tr> 
 <% end %>
</tbody>
</table>
<br /><br />
<%= generate_child_resources_link %>
<%= generate_destroy_link %>
</div>

<div id="iframeContainer" style="display:none;">
  <input type="button" id="close" value="Close" /> 
  <iframe style="" class="papertrail" src="" height="100%" width="100%">
      <p>Your browser does not support iframes.</p>
  </iframe>
</div>
