<% content_for :body do %>
  <div id="record">

    <%= render :partial => 'naf/shared/information_container', :locals => { :record_name => naf_model_name } %>

    <%= naf_generate_back_link %>
    <% if !naf_generate_edit_link.blank? && !naf_generate_back_link.blank? %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <% end %>
    <%= naf_generate_edit_link %>

    <div id="flash_message">
        <% unless notice.blank? %>
          <script type='text/javascript'>
            jQuery("<p id='notice'><%= notice %></p>")
                .appendTo('#flash_message')
                .slideDown().delay(5000).slideUp();
          </script>
        <% end %>
    </div>

    <table id="table_record">

      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>

      <tbody>
      <% @attributes.each do |a| %>
          <tr>
            <td scope="row"><%= naf_make_header(a.to_s) %></td>
            <% if a == :title and controller_name == 'jobs' %>
                <% if application = @record.application %>
                    <td> <%= link_to @record.send(a), url_for(application) %> </td>
                <% else %>
                    <td> <%= @record.send(a) %> </td>
                <% end %>
            <% else %>
                <td> <%= @record.send(a) %></td>
            <% end %>
          </tr>
      <% end %>
      <% if controller_name == 'jobs' %>
          <%= render :partial => 'naf/jobs/show' %>
      <% elsif controller_name == 'applications' %>
          <%= render :partial => 'naf/applications/show' %>
      <% elsif controller_name == 'machines' %>
          <%= render :partial => 'naf/machines/show' %>
      <% end %>
      </tbody>
    </table>
    <br/>
    <%= naf_generate_child_resources_link %>
    <% if !naf_generate_destroy_link.blank? && !naf_generate_child_resources_link.blank? %>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <% end %>
    <%= naf_generate_destroy_link %>
    <br><br>
    <% if(controller_name == 'jobs' || controller_name == 'machines') %>
        <h4>STDOUT:</h4>
        <div id="stdout_header">
            <div class="display-inline-block">
                <%= text_field_tag :papertrail_search, nil, :placeholder => "Search query: prod OR ('runner' AND access)" %>
                &nbsp;&nbsp;&nbsp;
                <%= submit_tag("Search the logs", :id => 'papertrail_search_submit') %>
                &nbsp;&nbsp;&nbsp;
                <%= link_to image_tag('clock.png', :style => 'margin-bottom: -11px;', :title => "Seek to date or time"), "#", :id => 'clock_button' %>
                <%= text_field_tag :papertrail_time, nil, :placeholder => "Time: 7:02 am,  yesterday, at 5:00, jan 5 2:35pm" %>
            </div>
            <div id='automatic_data_update' class="display-inline-block">
                <%= submit_tag("Clear stdout", :id => 'clear_stdout_submit') %>
                &nbsp;&nbsp;
                <%= label_tag :auto_update, 'Auto Update:' %>
                <%= check_box_tag :auto_update, 1, true, :id => :auto_update %>
            </div>
        </div>
        <br>
        <div id="stdout" class="scrollable-output">
          <ul id="event_list">
          </ul>
        </div>

    <% end %>
  </div>

<% end %>

<%= render :partial => 'naf/shared/application' %>
