<% content_for :body do %>
  <div id="flash_message">
      <% unless notice.blank? %>
        <script type='text/javascript'>
          jQuery("<p id='notice'><%= notice %></p>")
              .appendTo('#flash_message')
              .slideDown().delay(5000).slideUp();
        </script>
      <% end %>
  </div>

  <script type='text/javascript'>
    // Action: Wind Down Runner
    jQuery(document).delegate('.wind_down', "click", function() {
      var answer = confirm("You are winding down this runner. Are you sure you want to do this?");
      if (!answer) {
        return false;
      }
      var id = <%= @machine_runner.machine_runner_invocations.last.id %>;
      var url = '/job_system/machine_runner_invocations/' + id;
      jQuery.ajax({
        url: url,
        type: 'POST',
        dataType: 'json',
        data: { "machine_runner_invocation[request_to_wind_down]": 1, "machine_runner_invocation_id": id, "_method": "put" },
        success:function (data) {
          if (data.success) {
            jQuery("<p id='notice'>The machine runner is winding down!</p>").
            appendTo('#flash_message').slideDown().delay(5000).slideUp();
            jQuery('#datatable').dataTable().fnDraw();
            window.location.reload()
          }
        }
      });
    });
  </script>

  <div id="record">
    <h2>Machine Runner</h2>
    <%= link_to 'Back to Machine Runners', machine_runners_path %>
    </br>
    </br>

    <table id="naf_table_show">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ID</td>
          <td><%= @machine_runner.id %></td>
        </tr>
        <tr>
          <td>Started At</td>
          <td><%= @machine_runner.created_at %></td>
        </tr>
        <tr>
          <td>Server Name</td>
          <td>
            <% machine = ::Logical::Naf::Machine.new(::Naf::Machine.find_by_id(@machine_runner.machine.id)) %>
            <%= link_to machine.name, machine_path(@machine_runner.machine) %>
          </td>
        </tr>
        <tr>
          <td>Runner Cwd</td>
          <td><%= @machine_runner.runner_cwd %></td>
        </tr>
        <% invocation = @machine_runner.machine_runner_invocations.last %>
        <% if invocation.present? && invocation.dead_at.blank? && invocation.wind_down_at.blank? -%>
          <tr>
            <td>Wind Down Runner</td>
            <td><%= link_to image_tag('terminate.png',
              class: 'action',
              title: "Wind Down Runner(id: #{@machine_runner.machine_runner_invocations.last.id})"),
              "#", { class: "wind_down" }
            %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
    </br>

    <h2>Machine Runner Invocations</h2>
    <table id="naf_table_show">
      <thead>
        <tr>
          <th width="7%">Id</th>
          <th width="25%">Started At</th>
          <th width="25%">Last Seen</th>
          <th>Pid</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @machine_runner.machine_runner_invocations.order('created_at DESC').each do |invocation| -%>
        <tr>
          <td><%= link_to invocation.id, machine_runner_invocation_path(invocation) %></td>
          <td><%= invocation.created_at %></td>
          <td><%= invocation.updated_at %></td>
          <td><%= invocation.pid %></td>
          <td class="<%= invocation.status %>"><%= invocation.status.gsub('-', ' ').split.map(&:capitalize).join(' ') %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
    </br>

    <h2>Logs</h2>
    <div id="stdout_header">
      <div>
        <%= text_field_tag :log_search, nil, placeholder: 'Search query' %>
        &nbsp;/&nbsp;
        <%= text_field_tag :regex_options, nil, placeholder: 'Regex options' %>
        &nbsp;&nbsp;
        <%= button_tag 'Regex Help', id: "regex_help" %>
        <div class="description">
          <strong>Regex Options</strong>
          <table cellpadding="5">
            <thead>
              <tr>
                <td><b>Option</b></td>
                <td><b>Notes</b></td>
              </tr>
              <tr>
                <td>i</td>
                <td>case insensitive</td>
              </tr>
              <tr>
                <td>m</td>
                <td>make dot match newlines</td>
              </tr>
              <tr>
                <td>x</td>
                <td>ignore whitespace in regex</td>
              </tr>
            </thead>
          </table>
        </div>

        <div>
          <%= label_tag :auto_update, 'Grep:' %>
          <%= check_box_tag :grep, 1, false, id: :grep %>
        </div>
        </br>

        <div>
          <%= label_tag 'From:' %>
          <%= render partial: 'naf/shared/date_select', locals: { prefix: 'date_select_from', dropdown_width: 'width: 6%;' } %>
          </br>
          <%= label_tag 'To:' %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= render partial: 'naf/shared/date_select', locals: { prefix: 'date_select_to', dropdown_width: 'width: 6%;' } %>
        </div>
        </br>

        <%= submit_tag("Search the logs", id: 'log_search_submit') %>
        <%= link_to 'Full Screen',
                    { controller: 'log_viewer', action: 'index', runner_id: @machine_runner.id },
                    { class: 'full_screen' } %>
      </div>
    </div>

    </br>
    <div id="stdout" class="scrollable-output" ></div>

  </div>
  </div>
<% end %>

<%= render partial: 'naf/shared/application' %>
<%= render partial: 'naf/shared/auto_resize_width', locals: { div_class: '.scrollable-output' } %>
<%= render partial: 'naf/log_viewer/machine_log_display',
           locals: {
             logs_url: "#{http_protocol}#{::Logical::Naf::Machine.new(@machine_runner.machine).runner}#{naf.logs_log_parsers_path}",
             record_id: @machine_runner.id
           } %>
