<%= form_for(:graph_options, html: { method: 'get' } ) do |f| %>
  <table class="graph_table">
    <tr>
      <td>Start</td>
      <td><%= f.text_field(:start_datetime, value: @start_datetime, input_html: { class: 'datetimepicker' }) %></td>
    </tr>
    <tr>
      <td>End</td>
      <td><%= f.text_field(:end_datetime, value: @end_datetime, input_html: { class: 'datetimepicker' }) %></td>
    </tr>
    <tr>
      <td>Grouping</td>
      <td><%= f.select(:grouping, ["minute", "hour", "day", "week", "month"], selected: @grouping) %></td>
    </tr>
    <tr><td></td><td></td></tr>
    <tr>
      <td></td>
      <td><%= submit_tag "Submit" %></td>
    </tr>
  </table>
  </br>
<% end %>
<br/>
