<%= form_for @logger_style do |f| %>
  <% if @logger_style.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@logger_style.errors.count, "error") %> prohibited Logger Style from being saved:</h2>
    
    <ul>
      <% custom_full_messages(@logger_style.errors).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
    <br><br>
  </div>

  <%= f.fields_for :logger_style_names do |builder| %>
    <%= render "logger_style_names", :f => builder %>
  <% end %>

  <%= link_to_add_fields "Add the following pair of Name - Level", f, :logger_style_names %>
  <br>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

