<%= form_for(@run_group) do |f| %>
  
  <% if @run_group.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@run_group.errors.count, "error") %> prohibited Application Run Group from being saved:</h2>
    
    <ul>
      <% @run_group.errors.full_messages.each do |msg| %> 
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :run_group_restriction %><br />
    <%= f.select(:application_run_group_restriction_id, ::Naf::ApplicationRunGroupRestriction.all.map{ |a| [a.application_run_group_restriction_name, a.id] }, :include_blank => true) %>
  </div>
 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :application_run_group_name %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
