<!DOCTYPE html>
<html>
<head>
  <title>Fiksu&trade; | Job Scheduling System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<table width="100%" border="0" cellspacing="0">

  <tr>
    <td colspan="2" id="header">
      <h3>Fiksu&trade; | Job Scheduling System</h3>
    </td>
  </tr>

<tr>
  <td id="tabs">
    <ul>
      <% tabs.each do |tab| %>
        <% if controller_name == tab %>
          <li id="on">
        <% else %>
          <li>
        <% end %>

          <%= generate_index_link(tab) %>

        </li>
      <% end %>
    </ul>
  </td>
</tr>

  <tr valign="top">
    <td id="main">
      <% if current_page? :action => 'index' %>
        <span id="create">  <%= generate_create_link %> </span>
      <% end %>
      <%= yield %>
    </td>
  </tr>

  <tr>
    <td colspan="2" id="footer">
    <%= link_to "Back to the main Rails Application", "/" %>
    </td>

  </tr>

</table>





</body>
</html>
