<%= form_for(@machine) do |f| %>
  
  <% if @machine.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@machine.errors.count, "error") %> prohibited machine from being saved:</h2>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :server_address, "Server address*" %><br />
    <%= f.text_field :server_address %>
  </div>

  <div class="field">
    <%= f.label :server_name %><br />
    <%= f.text_field :server_name %>
  </div>

  <div class="field">
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </div>

  <div class="field">
    <%= f.label :server_note %><br />
    <%= f.text_field :server_note %>
  </div>

  <div class="field">
    <%= f.label :enabled %></br />
    <%= f.check_box :enabled %>
  </div>

  <div class="field">
    <%= f.label :process_pool_size %>  <br />
    <%= f.text_field :thread_pool_size %>
  </div>

  <div class="field">
    <%= f.label :log_level %>  <br />
    <%= f.text_field :log_level %>
  </div>



  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
