<% content_for :body do %>
  <div id="record">
    <h2>Machine Runner Invocation</h2>
    <%= link_to 'Back to Machine Runner Invocations', machine_runner_invocations_path %>
    </br>
    </br>

    <table id="naf_table_show">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Id</td>
          <td><%= @machine_runner_invocation.id %></td>
        </tr>
        <tr>
          <td>Started At</td>
          <td><%= @machine_runner_invocation.created_at %></td>
        </tr>
        <tr>
          <td>Last Seen At</td>
          <td><%= @machine_runner_invocation.updated_at %></td>
        </tr>
        <tr>
          <td>Machine Runner Id</td>
          <td><%= link_to @machine_runner_invocation.machine_runner.id, machine_runner_path(@machine_runner_invocation.machine_runner) %></td>
        </tr>
        <tr>
          <td>Pid</td>
          <td><%= @machine_runner_invocation.pid %></td>
        </tr>
        <tr>
          <td>Is Running</td>
          <td><%= @machine_runner_invocation.is_running %></td>
        </tr>
        <tr>
          <td>Wind Down</td>
          <td><%= @machine_runner_invocation.wind_down %></td>
        </tr>
        <tr>
          <td>Latest Commit</td>
          <td><%= link_to @machine_runner_invocation.commit_information,
                  "https://github.com/#{@machine_runner_invocation.repository_name}/commit/#{@machine_runner_invocation.commit_information}" %></td>
        </tr>
        <tr>
          <td>Branch Name</td>
          <td><%= @machine_runner_invocation.branch_name %></td>
        </tr>
        <tr>
          <td>Repository Name</td>
          <td><%= @machine_runner_invocation.repository_name %></td>
        </tr>
        <tr>
          <td>Deployment Tag</td>
          <td><%= @machine_runner_invocation.deployment_tag %></td>
        </tr>
      </tbody>
    </table>
    </br>

  </div>
<% end %>
<%= render partial: 'naf/shared/application' %>
